:root {
  --color-primary: #640ec7;
  --color-secondary: #7a2fd1;
  --color-background: #d9d5e2;
  --color-scroll-background: #bdb1da;
  --color-text-light: #666;
  --color-title-light: #3f3f3f;
  --color-text-lighter: #eee;
  --color-text-dark: #111;
}

body,
h1,
h2,
h3,
ul,
li,
p,
dd,
dt,
dl {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: var(--color-background);
  color: var(--color-text-light);
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--color-primary);
  border-radius: 0.25rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.menu li a {
  display: block;
  padding: 12px;
  margin-right: 12px;
  color: var(--color-text-lighter);
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

.menu li a:hover {
  color: var(--color-text-light);
  transition: 500ms;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;

  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  color: var(--color-title-light);
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.animais h2 {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  color: var(--color-primary);
}

.animais h2::before {
  content: '';
  display: inline-block;
  width: 2rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
}

.animais p {
  color: var(--color-text-dark);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais-lista {
  height: 370px;
  overflow-y: scroll;
  grid-column: 1 / 3;
}

.animais-lista::-webkit-scrollbar {
  width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-left: 3px solid var(--color-scroll-background);
  border-right: 3px solid var(--color-scroll-background);
  border-radius: 0.25rem;
}

.animais-lista::-webkit-scrollbar-track {
  background-color: var(--color-scroll-background);
}

.animais-descricao {
  grid-column: 3;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  border-radius: 0.05rem;
  color: var(--color-primary);
}

.faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 0.625rem;
  margin-right: 0.625rem;
  border-radius: 0.75rem;
  background-color: var(--color-primary);
}

.faq-lista dd {
  font-size: 1rem;
  margin-bottom: 4rem;
  margin-left: 30px;
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  color: var(--color-primary);
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'Roboto';
}

.dados li::before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.25rem;
  height: 0.5rem;
  border-radius: 0.75rem;
  background-color: var(--color-primary);
}

.copy {
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: var(--color-secondary);
}

.copy p {
  padding: 1.25rem;
  color: var(--color-background);
}

@media (max-width: 700px) {
  body {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1;
  }

  .grid-section {
    grid-template-columns: 200px 1fr;
    grid-gap: 10px;
  }

  .menu {
    margin-top: 0;
  }

  .copy {
    margin-bottom: 0;
  }

  .grid-section h1 {
    font-size: 4rem;
  }
  .animais-lista {
    grid-column: 1;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1 / 3;
  }
}
